.hero-content-about{
    #h1-about{
        font-size: 3rem;
          line-height: 1.3;
          
    
        
    }
    p{
        font-family: bebas-reg;
        font-size: 1.2rem;
        margin: 1.5rem;
        & span.yellow-dot {
            color: #9f0561;
          }

    }
    .cta-btn-about{
        font-size: 1.2rem;
    }
}
 
  