video {
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
    
  }
  .video-wrapper {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;
  
  
  
    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;
  
    /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main{
    position: relative;
    
  }