//Inter font family
@font-face {
  font-family: "inter-reg";
  src: url(Inter-Regular.ttf);
}
@font-face {
  font-family: "inter-med";
  src: url(Inter-Medium.ttf);
}
@font-face {
  font-family: "inter-bold";
  src: url(Inter-Bold.ttf);
}
@font-face {
  font-family: "inter-extraBold";
  src: url(Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "inter-black";
  src: url(Inter-Black.ttf);
}
//Bebas Neue font family
@font-face {
  font-family: "bebas-reg";
  src: url(BebasNeue-Regular.ttf);
}
//Bebas Lato font family
@font-face {
  font-family: "lato-reg";
  src: url(/public/Lato-Regular.ttf);
}
@font-face {
  font-family: "lato-bold";
  src: url(/public/Lato-Bold.ttf);
}
@font-face {
  font-family: "lato-black";
  src: url(/public/Lato-Black.ttf);
}
